<!--  파일명: footer.ejs
      파일설명: 웹페이지의 footer(저작권 정보) 구현
      개발자: 신예나
      개발일: 2020.12. -->

<footer>
    <div class="text-center small mt-3 mb-3">
        <!-- 저작권 정보 -->
        <small>Copyright © 2020 <a href="mailto:tisdpsk98@gmail.com">가천대학교 컴퓨터공학과 신예나</a> All Right Reserved</small>
    </div>
</footer>
</body>

</html>
