<!--  파일명: navbar.ejs
      파일설명: 웹페이지의 메뉴(네비게이션) 구현
      개발자: 신예나
      개발일: 2020.12. -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/web/adminuser">사용자 관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/web/admindoor">도어락 관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/web/controllog">제어 모니터링</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/web/errorapp">장애내역</a>
            </li>
        </ul>
    </div>
</nav>
